<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GIPHY</title>
</head>
<body>
    <form action="http://localhost:5000/outcome" method="POST" enctype="multipart/form-data" >
        
        <div>
            <label for="file">Select Your File</label>
        </div>
        <input type="file" name="file">
        <br />
        <div class="form-group">
            <button class="btn btn-info" type="submit" name="submit">Upload</button>
        </div>
    </form>
</body>
</html>
 
